stages:
  - deploy

deploy:
  stage: deploy
  tags:
    - cq
  script:
    # Persiapkan file SSH
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts

    # Mengatur git untuk menggunakan SSH, tanpa kredensial yang masked
    - git config --global --unset credential.helper  # Hapus pengaturan credential
    - git config --global url."git@git.enigmacamp.com:".insteadOf "https://git.enigmacamp.com/"

    # SSH ke VPS dan menjalankan perintah
    - |
      ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "
        cd $PROJECT_DIR &&
        git pull origin master &&
        docker compose down &&
        docker compose up -d
      "

variables:
  SSH_HOST: "152.42.224.141"
  SSH_USER: "root"  # Ganti dengan username yang benar jika bukan root
  PROJECT_DIR: "enigma-job-connector-api"
  SSH_PRIVATE_KEY: $SSH_PRIVATE_KEY
