stages:
  - build
  - test
  - deploy

# Tahap Build
build:
  stage: build
  image: maven:latest
  tags:
    - docker
  script:
    - mvn clean package -DskipTests

## Tahap Test
#test:
#  stage: test
#  image: maven:latest
#  tags:
#    - docker
#  script:
#    - mvn test

# Tahap Deploy
deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    # Setup Docker client to communicate with Docker-in-Docker service
    - export DOCKER_HOST=tcp://docker:2375
    - docker info  # Verifikasi koneksi Docker
  script:
    # Build Docker image for job-connector-api
    - docker build -t jobconnector-api-image .
    # Tag Docker image and push to Docker registry
    - docker tag jobconnector-api-image $DOCKER_REGISTRY/jobconnector-api-image:latest
    - docker push $DOCKER_REGISTRY/jobconnector-api-image:latest
    # Deploy with Docker Compose
    - docker-compose -f docker-compose.yml down
    - docker-compose -f docker-compose.yml up -d
  only:
    - master
