stages:
  - build
  - test
  - deploy

# Tahap Build
build:
  stage: build
  image: maven:latest
  tags:
    - docker
  script:
    - mvn clean package -DskipTests

## Tahap Test
#test:
#  stage: test
#  image: maven:latest
#  tags:
#    - docker
#  script:
#    - mvn test

# Tahap Deploy
deploy:
  stage: deploy
  image: alpine:latest
  tags:
    - docker
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
  script:
    - scp target/jobConnector-0.0.1-SNAPSHOT.jar $SSH_USER@$SSH_HOST:/path/to/deploy
    - ssh $SSH_USER@$SSH_HOST "cd /path/to/deploy && docker-compose down && docker-compose up -d"
  only:
    - master
