stages:
  - deploy

variables:
  GITLAB_USER: "ahmaddarul72"
  GITLAB_SSH_PRIVATE_KEY: $SSH_PRIVATE_KEY

deploy:
  stage: deploy
  tags:
    - deploy
  script:
    - mkdir -p /home/gitlab-runner/.ssh
    - echo "$GITLAB_SSH_PRIVATE_KEY" > /home/gitlab-runner/.ssh/id_rsa
    - chmod 600 /home/gitlab-runner/.ssh/id_rsa
    - eval "$(ssh-agent -s)"
    - ssh-add /home/gitlab-runner/.ssh/id_rsa
    - ssh -o StrictHostKeyChecking=no -i /home/gitlab-runner/.ssh/id_rsa user@your-server-ip << 'EOF'
      cd enigma-job-connector-api
      git pull origin master
      docker-compose down
      docker-compose up -d
  only:
    - master
