stages:
  - deploy

deploy:
  stage: deploy
  tags:
    - cq
  script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts
    - ssh root@$SSH_HOST "
      cd $PROJECT_DIR &&
      git pull origin master &&
      docker-compose up -d
      "
variables:
  SSH_HOST: "152.42.224.141"
  PROJECT_DIR: "enigma-job-connector-api"
